a {
    text-decoration: none;
    color: #555;
    font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: background-color .2s linear;
}

a:hover {
    background-color: aquamarine;
    color: black;
}

button {
    transition: background-color 0.2s linear;
}

button.accordian {
    background-color: whitesmoke;
}

button:hover {
    background-color: aquamarine;
}

/* to change the icon after accordian opens*/
/*https://www.youtube.com/watch?v=VTdSW57--yM*/
button.accordian::after {
    
}

#delete-btn {
    background-color: crimson;
}

.accordian-content {
    padding: 0 20px;
    border-left: 1px solid aquamarine;
    border-right: 1px solid aquamarine;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}

/* drop down menu */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 10%;
    background-color: whitesmoke;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {
    display: block;
}

/* end drop down menu */