{%extends "layout.html"%}

{% block content %}

<form action="/addnew/cycleirrigation" method="POST">
    <div class="row">
        <h4 class="u-pull-left">Name</h4>
        <input type="text" class="u-pull-right" name="name"/>
    </div>

    <div class="row">
        <h4 class="u-pull-left">Notes</h4>
        <textarea name="Notes" class="u-pull-right"></textarea>
    </div>

    <div class="row">
        <h4 class="u-pull-left">Pin</h4>
        <select name="pin" class="u-pull-right">
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
    </div>

    <!--change this with javascript to add 24 hours-->
    <div class="row">
        <h4 class="u-pull-left">Cycle On Time min:sec</h4>
        <span class="u-pull-right">
            <select name="hours">
                <option value="1"></option>
            </select>
            <span>:</span>
            <select name="hours">
                <option value="1"></option>
            </select>
        </span>
    </div>

    <div class="row">
        <h4 class="u-pull-left">Cycle Off Time min:sec</h4>
        <span class="u-pull-right">
            <select name="minutes">
                <option value="1"></option>
            </select>
            <span>:</span>
            <select name="minutes">
                <option value="1"></option>
            </select>
        </span>
    </div>

    <div class="row">
        <h4 class="u-pull-left">Blackout Start Time</h4>
        <input type="time" class="u-pull-right" name="blackoutStartTime">
    </div>

    <div class="row">
        <h4 class="u-pull-left">Blackout Stop Time</h4>
        <input type="time" class="u-pull-right" name="blackoutStopTime">
    </div>

    <!--adjust in javascript to turn on and off with click, also
    change color with click e.g red off and green on-->
    <button class="u-full-width">OFF</button>
    <button class="u-full-width">Cancel</button>
    <input class="button" type="submit" name="submit">


</form>

{%endblock%}