{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock%}
{% block title %}
    {% if title %}{{ title }}{% else %}Complete Plant Automation{% endif %}
{% endblock %}
{% block navbar %}
    {%include "includes/_navbar.html"%}
{% endblock %}
{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert-{{ category }}">
                       {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {%block body_content%}{%endblock%}
    </div>
{% endblock %}
