<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/skeleton.css') }}">

    <title>complete plant automation</title>
</head>
<body>
    {% endblock %}

<div class="container">
    {% block body %}
    {% block content %}{%endblock%}

    {% endblock %}
</div>

<script type="text/javascript" src="{{url_for('static', filename='js/app.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>
</body>

</html>