{%extends "layout.html"%}

{% block content %}
    <h2>All Components</h2>
    <div>
        <a class="button u-pull-left one-half column" href="/settings">Settings</a>
        <div class="dropdown">
            <button onclick="dropDownAddList()" class="button u-pull-right one-half column dropbtn">Add New</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="addnew/cycleirrigation">Cycle Irrigation</a>
                <a href="addnew/timedirrigation">Timed Irrigation</a>
                <a href="addnew/light">Light</a>
                <a href="addnew/fan">Fan</a>
                <a href="addnew/heater">Heater</a>
                <a href="addnew/humidifier">Humidifier</a>
            </div>
        </div>
    </div>
    <div id="list-all-components">
        
    </div>
{%endblock%}